# NVIDIA NIM Configurations
NVIDIA_API_KEY=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
NVIDIA_MODEL=meta/llama-3.1-8b-instruct

# Local Ollama Fallback
OLLAMA_URL=http://localhost:11434/api/generate
